@import "../scss/components/header";
@import "../scss/base/variables";
@import "../scss/base/colores";
*{
    margin: 0;
    padding: 0;
}
.headertopnav{
    background-color: map-get($colores,color1);
    border-bottom: solid 1px white;
    display: flex;
    justify-content: center;
    color: white;
}
.headertopnav2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.headerredes img{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-right: 5px;
}
.headerredes{
    display: flex;
    align-items: center;
}
.hnborder{
    border-bottom: solid 1px white;
}
.headerdivlogoservice{
    color: rgb(214,118,183);
}
.section1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    align-items: center;
    color: aliceblue;
}
.section1 h1{
    font-size: 60px;
}
.sectionvideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.section1div{
    height: 90vh;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px white;
}
.section1-1{
    font-size: 80%;
    background-color: map-get($colores,color1);
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border: solid 2px black;
}
.section1-1:hover{
    color: black;
}
.section3div{
    height: 500px;
    display: flex;
    justify-content: center; 
    border-bottom: solid 1px white;
    border-top: solid 2px white;
    background-color: grey;
}
.section3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
.section3 div{
    height: 350px;
    width: 30%;
    margin: 0px 20px 0px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.section3 div div{
    background: none;
}
.cardstyle{
    color: white;
    text-decoration: none;
}
.section3links:hover{
    color: map-get($colores,color1);
}
.footer{
    background-image: url("../imagenes/fondofooter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid white 2px;
}
.footerdiv{
    width: 90%;
    @include flex (flex,center);
    color: aliceblue;
    flex-direction: column;
    justify-content: space-evenly;
}
.footertitle{
    @include flex (flex,center);
    margin-bottom: 20px;
    color: white;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
}
.footerredes{
    @include flex (flex,center);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    font-size: 20px;
}
.footerredes div{
    padding-left: 50px;
    margin-bottom: 4px;
}
.footerredes img{
    height: 40px;
    width: 40px;
}
.footermap{
    width: 100%;
    height: 210px;
    border: solid 2px map-get($colores,color1);
}
.footerfirma{
    border-top: solid 2px white;
    height: 50px;
    background-color: black;
    @include flex (flex,center);
}
.footerfirma1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 10px;
}
.nosotros{
    background-color: map-get($colores,color2);
    height: 500px;
    color: black;
    @include flex (flex,center);
    flex-direction: column;
    align-items: center
}
.nosotros h2{
    @include flex (flex,center);
}
.nosotrosdivpadre{
    width: 70%;
    height: 450px;
    @include flex (flex,center);
}
.nosotrostexto{
    width: 50%;
    text-align: center;
    flex-direction: column;
    @include flex (flex,center);
    font-size: 23px;
    text-align: start;
}
.nosotrosimagen{
    width: 50%;
    @include flex (flex,center);
    align-items: center;
}
.nosotrosimagen2{
    height: 80%;
    width: 80%;
    background-image: url("../imagenes/EntradaLocal.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.servicios{
    background-color: map-get($colores,color2);
    height: 1500px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviciosdiv{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicioscontenedoritem{
    width: 80%;
    height: 90%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.servicioscontenedorimagen{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicioscomputadoras{
    height: 80%;
    width: 80%;
    background-image: url(../imagenes/servicioscomputadoras.png);
    background-position: center;
    background-size: cover;
}
.serviciosimpresoras{
    height: 75%;
    width: 75%;
    background-image: url(../imagenes/serviciosimpresoras.png);
    background-position: center;
    background-size: cover;
}
.serviciostablets{
    height: 80%;
    width: 50%;
    background-image: url(../imagenes/serviciostablets.png);
    background-position: center;
    background-size: cover;
}
.servicioscontenedortexto1,.servicioscontenedortexto2,.servicioscontenedortexto3{
    height: 100%;
    width: 60%;
    color: white;
    padding-left: 60px;
    font-size: 25px;
    display:flex;
    align-items: center;

}
.servicioscontenedortexto1,.servicioscontenedortexto3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    border-left: solid 2px white;
}
.servicioscontenedortexto2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    border-right: solid 2px white;
}
.recomendaciones{
    background-color: map-get($colores,color2);
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
}
.recomendacionesdiv{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto{
    background-color: map-get($colores,color2);
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
}
.contactodiv{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width:1361px){
    .servicioscomputadoras,.serviciosimpresoras{
            height: 70%;
            width: 80%;
    }

}
@media only screen and (max-width:1000px){
    .nosotrostexto p{
        font-size: 17px;
    }
    .headerredes{
        flex-direction: column;
    }
    .headercontacto{
        display: flex;
        flex-direction: column;
    }
    .headernav2{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headermenu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headerli{
        margin: 5px 0px 10px 0px;
    }
    .section2div{
        height: 500px;
    }
    .section2img{
        height: 80%;
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-rows: 70px 70px 70px 70px;
        grid-template-columns: repeat(4,1fr);
        gap: 0px;
        grid-template-areas:"item1 item1 item1 item1"
                            "item2 item2 item2 item2"
                            "item3 item3 item3 item3"
                            "item4 item4 item4 item4";  
    }
    .item1{
        grid-area: item1;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item1 p{
        margin:0px 0px 0px 0px;
    }
    .item1 img{
        position: relative;
        top: 0;
    }
    .item2{
        grid-area: item2;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item2 p{
        margin:0px 0px 0px 0px;
    }
    .item2 img{
        position: relative;
        top: 0;
    }
    .item3{
        grid-area: item3;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item3 p{
        margin:0px 0px 0px 0px;
    }
    .item3 img{
        position: relative;
        top: 0;
    }
    .item4{
        grid-area: item4;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item4 p{
        margin:0px 0px 0px 0px;
    }
    .item4 img{
        position: relative;
        top: 0;
    }
    .section2img div img {
        height: 40px;
        width: 40px;
    }
    .section3div{
        background-color: darkgrey;
        height: 1500px;
        display: flex;
        justify-content: center; 
        border-bottom: solid 1px white;
    }
    .section3{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        color: aliceblue;
    }
    .section3 div{
        height: auto;
        width: 90%;
        margin: 20px 0px 20px 0px;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    .footerbottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .footerredes{
        margin-bottom: 30px;
    }
    .footer{
        height: 600px;
    }
    .servicios{
        background-color: map-get($colores,color2);
        height: 3000px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .serviciosdiv{
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servicioscontenedoritem{
        width: 90%;
        height: 90%;
        background-color: black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px 20px 0px;
        flex-direction: column;
    }
    .servicioscontenedorimagen{
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .servicioscontenedortexto1,.servicioscontenedortexto2,.servicioscontenedortexto3{
        height: 40%;
        width: 90%;
        color: white;
        padding-left: 60px;
        font-size: 23px;
        display:flex;
        align-items: center;
        
    }
    .servicioscontenedortexto1,.servicioscontenedortexto3{
        border-left: none;
    }
    .servicioscontenedortexto2{
        border-right: none;
    }
    .servicioscontenedortexto2{
        order: 1;
    }
}
@media only screen and (max-width:1427px){
    .nosotrostexto{
        font-size: 20px;
    }
    .nosotrosdivpadre{
        width: 90%
    }
}
@media only screen and (max-width:812px){
    .nosotrostexto p{
        font-size: 14px;
    }
    .item1 p{
        font-size:18px
    }
    .item2 p{
        font-size:18px
    }
    .item3 p{
        font-size:18px
    }
    .item4 p{
        font-size:18px
    }
}
@media only screen and (max-width:500px){
    .section1 h1{
        font-size:30px ;
    }
    .section1-1{
        font-size: 15px;
    }
    .footerfirma1{
        font-size: 12px;
    }
    .footerredes div{
        padding-left: 0px;
    }
    .nosotros{
        height: 1000px;
    }
    .nosotrosdivpadre{
        flex-direction: column;
        align-items: center;
        height: 900px;
        width: 90%;
    }
    .nosotrostexto{
        width: 100%;
        text-align: center;
        flex-direction: column;
        font-size: 23px;
    }
    .nosotrosimagen{
        width: 350px;
        height: 500px;
        @include flex (flex,center);
        align-items: center;
    }
    .nosotrosimagen2{
        height: 80%;
        width: 80%;
        background-image: url("../imagenes/EntradaLocal.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
    }
    .servicios{
        background-color: map-get($colores,color2);
        height: 3500px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .servicioscontenedoritem{
        width: 100%;
    }
    .servicioscontenedorimagen{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .servicioscomputadoras{
        height: 55%;
        width: 95%;
    }
    .serviciosimpresoras{
        height: 55%;
        width: 95%;
    }
    .serviciostablets{
        height: 80%;
        width: 95%;
    }
    .servicioscontenedortexto1,.servicioscontenedortexto2,.servicioscontenedortexto3{
        width: 100%;
        font-size: 22px;
        display:flex;
        align-items: center;
        padding-left: 10px;
    
    }
}
    