@import "../scss/components/header";
@import "../scss/components/contactos";
@import "../scss/base/variables";
@import "../scss/base/colores";
*{
    margin: 0;
    padding: 0;
}
.headertopnav{
    background-color: map-get($colores,color1);
    border-bottom: solid 1px white;
    display: flex;
    justify-content: center;
    color: white;
}
.headertopnav2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.headerredes img{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-right: 5px;
}
.headerredes{
    display: flex;
    align-items: center;
}
.hnborder{
    border-bottom: solid 1px white;
}
.headerdivlogoservice{
    color: map-get($colores,color1);
}
.section1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    align-items: center;
    color: aliceblue;
}
.section1 h1{
    font-size: 60px;
}
.sectionvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.section1div{
    height: 90vh;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px white;
}
.section1-1{
    font-size: 80%;
    background-color: map-get($colores,color1);
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border: solid 2px black;
}
.section1-1:hover{
    color: black;
}
.section3div{
    height: 500px;
    display: flex;
    justify-content: center; 
    border-bottom: solid 1px white;
    border-top: solid 2px white;
    background-color: grey;
}
.section3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
.section3 div{
    height: 350px;
    width: 30%;
    margin: 0px 20px 0px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.section3 div div{
    background: none;
}
.cardstyle{
    color: white;
    text-decoration: none;
}
.section3links:hover{
    color: map-get($colores,color1);
}
.footer{
    background-image: url("../imagenes/fondofooter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid white 2px;
}
.footerdiv{
    width: 90%;
    @include flex (flex,center);
    color: aliceblue;
    flex-direction: column;
    justify-content: space-evenly;
}
.footertitle{
    @include flex (flex,center);
    margin-bottom: 20px;
    color: white;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
}
.footerredes{
    @include flex (flex,center);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    font-size: 20px;
}
.footerredes div{
    padding-left: 50px;
    margin-bottom: 4px;
}
.footerredes img{
    height: 40px;
    width: 40px;
}
.footermap{
    width: 100%;
    height: 210px;
    border: solid 2px map-get($colores,color1);
}
.footerfirma{
    border-top: solid 2px white;
    height: 50px;
    background-color: black;
    @include flex (flex,center);
    margin-bottom: 0px;
}
.footerfirma1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 10px;
}
.contenedorpadrenosotros{
    background-color: map-get($colores,color2);
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 650px;
}
.contenedorpadrenosotros h1{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    height: 10%;
}
.nosotrosdivpadre{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.nosotrostexto{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
.nosotrostextobotones{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.nosotrostextobotones a{
    text-align: center;
    width: 45%;
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border: solid 2px black;
    background-color: map-get($colores,color1);
}
.nosotrostextobotones a:hover{
    color: black;
}
.nosotrosimagen{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.nosotrosimagenimagen{
    height: 100%;
    width: 90%;
    background-image: url(../imagenes/ImagenNosotros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px white;
}
.contenedorpadreservicios{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: map-get($colores,color2);
}
.contenedorservicios{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloservicios{
    color: black;
    font-size: 23px;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.contenedoritems{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}
.itemservicios1,.itemservicios2,.itemservicios3{
    width: 30%;
    height: 90%;
    border: solid 2px white;
    display: flex;
    flex-direction: column;
}
.itemservicios2{
    margin: 0px 5% 0px 5%;
}
.imagenitemservicios1{
    width: 100%;
    height: 45%;
    background-image:url("../imagenes/item1servicios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 2px white;
}
.imagenitemservicios2{
    width: 100%;
    height: 45%;
    background-image:url("../imagenes/item2servicios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 2px white;
}
.imagenitemservicios3{
    width: 100%;
    height: 45%;
    background-image:url("../imagenes/item3servicios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 2px white;
}
.contenedortextoitemservicios{
    margin-top:10px;
    background-color: rgba(214, 118, 184, 0.615);
    text-align: center;
    font-weight: bold;
    color: black;
}
.contenedortextotextoservicios{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}
.textoitemservicios1{
    width: 100%;
    height: 55%;
    background-image:url("../imagenes/item1servicios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textoitemservicios2{
    width: 100%;
    height: 55%;
    background-image:url("../imagenes/item2servicios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textoitemservicios3{
    width: 100%;
    height: 55%;
    background-image:url("../imagenes/item3servicios.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedortextotextoservicios{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.659);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.recomendaciones{
    background-color: map-get($colores,color2);
    height: 740px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
}
.recomendacionesdiv{
    width: 90%;
    border: solid 2px white;
    margin-bottom: 50px;
}
.recomendacioncontenedorimagen{
    height: 600px;
    width: 100%;
}
.recomendacionimagen1,.recomendacionimagen2,.recomendacionimagen3{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recomendacionimagen1{
    background-image: url(../imagenes/recomendacionesfoto1.jpg);
}
.recomendacionimagen2{
    background-image: url(../imagenes/recomendacionesfoto2.jpg);
}
.recomendacionimagen3{
    background-image: url(../imagenes/recomendacionesfoto3.jpg);
}
.recomendaciontextoimagen{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.556);
    color: white;
    font-size: 24px;
}
@media only screen and (max-width:1000px){
    .headerredes{
        flex-direction: column;
    }
    .headercontacto{
        display: flex;
        flex-direction: column;
    }
    .headernav2{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headermenu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headerli{
        margin: 5px 0px 10px 0px;
    }
    .section2div{
        height: 500px;
    }
    .section2img{
        height: 80%;
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-rows: 70px 70px 70px 70px;
        grid-template-columns: repeat(4,1fr);
        gap: 0px;
        grid-template-areas:"item1 item1 item1 item1"
                            "item2 item2 item2 item2"
                            "item3 item3 item3 item3"
                            "item4 item4 item4 item4";  
    }
    .item1{
        grid-area: item1;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item1 p{
        margin:0px 0px 0px 0px;
    }
    .item1 img{
        position: relative;
        top: 0;
    }
    .item2{
        grid-area: item2;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item2 p{
        margin:0px 0px 0px 0px;
    }
    .item2 img{
        position: relative;
        top: 0;
    }
    .item3{
        grid-area: item3;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item3 p{
        margin:0px 0px 0px 0px;
    }
    .item3 img{
        position: relative;
        top: 0;
    }
    .item4{
        grid-area: item4;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item4 p{
        margin:0px 0px 0px 0px;
    }
    .item4 img{
        position: relative;
        top: 0;
    }
    .section2img div img {
        height: 40px;
        width: 40px;
    }
    .section3div{
        background-color: darkgrey;
        height: 1500px;
        display: flex;
        justify-content: center; 
        border-bottom: solid 1px white;
    }
    .section3{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        color: aliceblue;
    }
    .section3 div{
        height: auto;
        width: 90%;
        margin: 20px 0px 20px 0px;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    .footerbottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .footerredes{
        margin-bottom: 30px;
    }
    .footer{
        height: 600px;
    }
    .contenedorpadreservicios{
        height: 1900px;
    }
    .tituloservicios{
        height: 3%;
        padding-top: 0px;
    }
    .contenedoritems{
        flex-direction: column;
        align-items: center; 
        height: 95%;
    }
    .itemservicios1,.itemservicios2,.itemservicios3{
        width: 100%;
        height: 95%;
        border: solid 2px white;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .contenedorpadrenosotros{
        height: 800px;
    }
    .contenedorpadrenosotros h1{
        height: 5%;
    }
    .nosotrosdivpadre{
        align-items: center;
        flex-direction: column-reverse;
        height: 95%;
    }
    .nosotrostexto{
        width: 100%;
        height: 50%;
        font-size: 30px;
    }
    .nosotrostextobotones a{
        width: 30%;
    }
    .nosotrosimagen{
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:1465px){
    .nosotrostextobotones{
        font-size: 21px;
    }
}
@media only screen and (max-width:1300px){
    .nosotrostexto{
        font-size: 23px;
    }
    .nosotrostextobotones{
        width: 100%;
    }
    .nosotrostextobotones a{
    font-size: 18px;
    }
}
@media only screen and (max-width:812px){
    .item1 p{
        font-size:18px
    }
    .item2 p{
        font-size:18px
    }
    .item3 p{
        font-size:18px
    }
    .item4 p{
        font-size:18px
    }
    .nosotrostexto{
        font-size: 19px;
    }
    .nosotrostextobotones a{
        width: 48%;
    }
}
@media only screen and (max-width:500px){
    .section1 h1{
        font-size:30px ;
    }
    .section1-1{
        font-size: 15px;
    }
    .footerfirma1{
        font-size: 12px;
    }
    .footerredes div{
        padding-left: 0px;
    }
    .recomendaciontextoimagen{
        font-size: 20px;
    }
    .contenedorpadrenosotros{
        height: 1100px;
    }
    .nosotrostextobotones a{
        font-size: 18px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}