*{
    margin: 0;
    padding: 0;
}
.headerTopNav{
    background-color: rgb(214,118,183);
    border-bottom: solid 1px white;
    display: flex;
    justify-content: center;
    color: white;
}
.headerTopNav2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.headerRedes img{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-right: 5px;
}
.headerRedes{
    display: flex;
    align-items: center;
}
.hnborder{
    border-bottom: solid 1px white;
}
.headerNav{
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px white;
}
.headerNav2{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.headerMenu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.headerLi a{
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}
.headerLi a:hover{
    color: rgb(145,139,127);
    text-shadow: none;
    transition: 0.5s;
}
.headerDivLogo{
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: start;
    color: white;
}
.headerDivLogoService{
    color: rgb(214,118,183);
}
.headerLogo{
    width: 200px;
    height: auto;
}
.Section1{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    align-items: center;
    color: aliceblue;
}
.Section1 h1{
    font-size: 60px;
}
.SectionVideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.Section1Div{
    height: 90vh;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px white;
}
.Section1-1{
    font-size: 80%;
    background-color: rgb(214,118,183);
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border: solid 2px black;

}
.Section2Div{
    background-image: url("imagenes/seccion2fondo.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; 
    border-bottom: solid 1px white;
}
.Section2{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.Section2 h2{
    margin-top: 50px;
}
.Section2Img{
    height: 80%;
    width: 80%;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-template-areas: "item1 item2 item3 item4";        
}
.item1{
    grid-area: item1;
    height: 80%;
    width: 80%;
    background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
}
.item1 p{
    margin:20% 10% 0px 10%;
    text-align: center;
    font-size: 25px;
}
.item1 img{
    position: absolute;
    top: 10%;
}
.item2{
    grid-area: item2;
    height: 80%;
    width: 80%;
    background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
}
.item2 p{
    margin:20% 10% 0px 10%;
    text-align: center;
    font-size: 25px;
}
.item2 img{
    position: absolute;
    top: 10%;
}
.item3{
    grid-area: item3;
    height: 80%;
    width: 80%;
    background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
}
.item3 p{
    margin:20% 10% 0px 10%;
    text-align: center;
    font-size: 25px;
}
.item3 img{
    position: absolute;
    top: 10%;
}
.item4{
    grid-area: item4;
    height: 80%;
    width: 80%;
    background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
}
.item4 p{
    margin:20% 10% 0px 10%;
    text-align: center;
    font-size: 25px;
}
.item4 img{
    position: absolute;
    top: 10%;
}
.Section2Img div img {
    height: 50px;
    width: 50px;
}
.Section3Div{
    background-image: url("imagenes/seccion3fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center; 
    border-bottom: solid 1px white;
}
.Section3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
.Section3 div{
    height: 350px;
    width: 30%;
    margin: 0px 20px 0px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.cardstyle{
    color: white;
    text-decoration: none;
}
.footer{
    background-image: url("imagenes/fondofooter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footerDiv{
    width: 90%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    flex-direction: column;
    justify-content: space-evenly;
}
.footerTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}
.footerBottom{
    display: flex;
    justify-content: space-between;
}
.footerRedes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    font-size: 20px;
}
.footerRedes div{
    padding-left: 50px;
}
.footerRedes img{
    height: 40px;
    width: 40px;
}
.footerMap{
    width: 100%;
    height: 210px;
    border: solid 2px rgb(214,118,183);
}
.footerfirma{
    border-top: solid 2px white;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.footerfirma1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 10px;
}
.nosotros{
    background-color: darkgrey;
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
}
.nosotrosDiv{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicios{
    background-color: darkgrey;
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
}
.serviciosDiv{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.serviciosDivDiv{
    display: flex;
    justify-content: space-between;
}
.recomendaciones{
    background-color: darkgrey;
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
}
.recomendacionesDiv{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto{
    background-color: darkgrey;
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
}
.contactoDiv{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width:1000px){
    .headerRedes{
        flex-direction: column;
    }
    .headerContacto{
        display: flex;
        flex-direction: column;
    }
    .headerNav2{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headerMenu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headerLi{
        margin: 5px 0px 10px 0px;
    }
    .Section2Div{
        height: 600px;
    }
    .Section2Img{
        height: 80%;
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-rows: 70px 70px 70px 70px;
        grid-template-columns: repeat(4,1fr);
        gap: 0px;
        grid-template-areas:"item1 item1 item1 item1"
                            "item2 item2 item2 item2"
                            "item3 item3 item3 item3"
                            "item4 item4 item4 item4";  
    }
    .item1{
        grid-area: item1;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item1 p{
        margin:0px 0px 0px 0px;
    }
    .item1 img{
        position: relative;
        top: 0;
    }
    .item2{
        grid-area: item2;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item2 p{
        margin:0px 0px 0px 0px;
    }
    .item2 img{
        position: relative;
        top: 0;
    }
    .item3{
        grid-area: item3;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item3 p{
        margin:0px 0px 0px 0px;
    }
    .item3 img{
        position: relative;
        top: 0;
    }
    .item4{
        grid-area: item4;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .item4 p{
        margin:0px 0px 0px 0px;
    }
    .item4 img{
        position: relative;
        top: 0;
    }
    .Section2Img div img {
        height: 40px;
        width: 40px;
    }
    .Section3Div{
        background-color: brown;
        height: 1500px;
        display: flex;
        justify-content: center; 
        border-bottom: solid 1px white;
    }
    .Section3{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        color: aliceblue;
    }
    .Section3 div{
        height: auto;
        width: 90%;
        margin: 20px 0px 20px 0px;
        background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    .footerBottom{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .footerRedes{
        margin-bottom: 30px;
    }
    .footer{
        height: 600px;
    }
}