@import "../base/variables";
@import "../base/colores";
/*Secction 2*/
.section2div{
    background-image: url("../imagenes/seccion2fondo.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; 
    border-bottom: solid 1px white;
    .section2{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: aliceblue;
        h2{
            margin-top: 50px;
        }
        .section2img{
            height: 80%;
            width: 80%;
            margin-top: 100px;
            display: grid;
            grid-template-rows: 350px;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            grid-template-areas: "item1 item2 item3 item4";    
            .item1{
                grid-area: item1;
                height: 400px;
                width: 80%;
                background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items:center;
                border-radius: 30px;
                position: relative;
                img{
                    position:absolute;
                    top: 20px;
                    height: 50px;
                    width: 50px;
                    @media only screen and (max-width:1000px){
                        position: relative;
                        top: 0;
                        height: 40px;
                        width: 40px;
                    }
                }
                p{
                    margin:20% 10% 0px 10%;
                    text-align: center;
                    font-size: 25px;
                    @media only screen and (max-width:1000px){
                        margin:0px 0px 0px 0px;
                    }
                    @media only screen and (max-width:812px){
                        font-size:18px
                    }
                }
                @media only screen and (max-width:1000px){
                    grid-area: item1;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                }
            }
            .item2{
                grid-area: item2;
                height: 400px;
                width: 80%;
                background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 30px;
                position: relative;
                img{
                    position:absolute;
                    top: 20px;
                    height: 50px;
                    width: 50px;
                    @media only screen and (max-width:1000px){
                        position: relative;
                        top: 0;
                        height: 40px;
                        width: 40px;
                    }
                }
                p{
                    margin:20% 10% 0px 10%;
                    text-align: center;
                    font-size: 25px;
                    @media only screen and (max-width:1000px){
                        margin:0px 0px 0px 0px;
                    }
                    @media only screen and (max-width:812px){
                        font-size:18px
                    }
                }
                @media only screen and (max-width:1000px){
                    grid-area: item2;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                }
            }
            .item3{
                grid-area: item3;
                height: 400px;
                width: 80%;
                background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 30px;
                position: relative;
                img{
                    position:absolute;
                    top: 20px;
                    height: 50px;
                    width: 50px;
                    @media only screen and (max-width:1000px){
                        position: relative;
                        top: 0;
                        height: 40px;
                        width: 40px;
                    }
                }
                p{
                    margin:20% 10% 0px 10%;
                    text-align: center;
                    font-size: 25px;
                    @media only screen and (max-width:1000px){
                        margin:0px 0px 0px 0px;
                    }
                    @media only screen and (max-width:812px){
                        font-size:18px
                    }
                }
                @media only screen and (max-width:1000px){
                    grid-area: item3;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                }
            }
            .item4{
                grid-area: item4;
                height: 400px;
                width: 80%;
                background: linear-gradient(rgba(26, 114, 84, 0.7),rgba(26, 114, 84, 0.7));
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 30px;
                position: relative;
                img{
                    position:absolute;
                    top: 20px;
                    height: 50px;
                    width: 50px;
                    @media only screen and (max-width:1000px){
                        position: relative;
                        top: 0;
                        height: 40px;
                        width: 40px;
                    }
                }
                p{
                    margin:20% 10% 0px 10%;
                    text-align: center;
                    font-size: 25px;
                    @media only screen and (max-width:1000px){
                        margin:0px 0px 0px 0px;
                    }
                    @media only screen and (max-width:812px){
                        font-size:18px
                    }
                }
                @media only screen and (max-width:1000px){
                    grid-area: item4;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700));
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                }
            }
            @media only screen and (max-width:1000px){
                height: 80%;
                width: 100%;
                margin-top: 30px;
                display: grid;
                grid-template-rows: 70px 70px 70px 70px;
                grid-template-columns: repeat(4,1fr);
                gap: 0px;
                grid-template-areas:"item1 item1 item1 item1"
                                    "item2 item2 item2 item2"
                                    "item3 item3 item3 item3"
                                    "item4 item4 item4 item4";  
            }
        }
    }
    @media only screen and (max-width:1000px){
        height: 500px; 
    }
}